<p>Hi i'm a card</p>
<% if @card_answer %>
  <p>The correct answer was <%= @card_answer %></p>
  <p>You entered <%= @user_answer %></p>
<% end %>

<%= @card.question %>

<%= form_tag(guesses_path) do %>
  <%= hidden_field_tag(:card_id, @card.id) %>
  <%= label_tag(:user_answer) %>
  <%= text_field_tag(:answer) %>


  <%= submit_tag("Submit") %>

<% end %>
