<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if !current_user %>
      <button class="button"> <%= link_to 'Log in', login_path %> </button>
      <button class="button"> <%= link_to 'Register', new_user_path %> </button>
    <% else %>
      <%= current_user.name %>
      <button class="button"> <%= link_to 'Logout', logout_path %> </button>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>

    <%= yield %>
  </body>
</html>
